<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sample Flask Application</title>
  </head>
  <body>
    <h1>Welcome to My Flask App</h1>
    <form action="{{ url_for('submit') }}" method="post">
      <label for="name">Enter your name:</label>
      <input type="text" id="name" name="name">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
